/*Classic Elements Start*/

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html
{
    width: 100vw;
    height: 100vh;
}

body
{
    background-color: black;
}

main
{
    background-color: white;
}

a
{
    text-decoration: none;
}

/*Classic Elements End*/

/*Header Start*/

ul.headerList
{
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-right: 1rem;
    justify-content: flex-end;
}

li.headerElement
{
    list-style-type: none;
    text-decoration: none;
    margin: .5rem;
    margin-top: 2rem;
    font-size: 1.1rem;
    color: white;
}

li.headerElement a
{
    color: white;
}

img.mainLogo
{
    position: absolute;
    margin-top: 1rem;
    margin-left: 1rem;
}

/*Header End*/

/*Welcome Start*/

div.welcomePage
{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.welcomeText
{
    padding: 8rem;
    padding-left: 0;
    padding-right: 0;
    justify-content: center;
    height: 25rem;
    width: 50rem;
    text-align: center;
    background-image: url(../components/images/border_mavi.svg);
    background-size: cover;

}
div.welcomeText p
{
    font-weight: 400;
    font-size: 3rem;
    color: white;
}

/*Welcome End*/

/*Main HTML Start*/

/*Gayrimenkul Div Start*/

div.gayrimenkul
{
    display: flex;
    height: 90vh;
    width: 100vw;
    flex-direction: row;
}

img.gayrimenkulFoto
{
    margin-left: 8rem;
    margin-right: 0;
    margin-top: 4rem;
    display: flex;
    width: 40vw;
    height: 70vh;
}

hr.gayrimenkulHr
{
    margin-top: 14.5rem;
    margin-left: 3rem;
    background-color: #0071BC;
    border: none;
    height: .3rem;
    width: 5rem;
}

h2#gayrimenkul
{
    color: black;
}

div.gayrimenkul p
{
    color: black;
}

article.gayrimenkulArticle
{
    height: auto;
    width: 30vw;
    display: flex;
    flex-direction: column;
    margin-top: 14rem;
    margin-left: 1rem;
}

article.gayrimenkulArticle h2 + p + h3 + p + p + p + a
{
    color: black;
    margin-top: 1rem;
}

/*Gayrimenkul Div End*/

/*Main HTML End*/

/*Footer Start*/

footer
{
    width: 100vw;
    height: 40vh;
    color: white;
}

div.footerContainer
{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 30vh;
    background-color: #25292c;
    padding-left: 4vw;
    padding-right: 4vw;
}

div.footerContainer div.about
{
    display: flex;
    flex-direction: column;
    height: 30vh;
    width: 23vw;
    justify-content: center;
    text-align: center;
    align-items: center;
}

div.footerContainer div.contact
{
    height: 30vh;
    width: 23vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

div.footerContainer div.contact ul li
{
    display: flex;
    margin: 1rem;
}

h4.header4
{
    position: absolute;
    margin-top: -8rem;
}

div.footerContainer div.address
{
    height: 30vh;
    width: 23vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

div.footerContainer div.socialMedia
{
    height: 30vh;
    width: 23vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

div.footerBottom
{
    width: 100vw;
    height: 10vh;
    background-color: #0d0e0f;
}

ul.socialMedia
{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: row;
}

.footerList
{
    margin-top: 3rem;
}

li.mediaElements
{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: row;
    margin: 2rem;
    color: white;
}

li.mediaElements a i
{
    color: white;
}

/*Footer End*/